* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    padding: 100px;
}

li {
    list-style-type: none;
}

.blue {
    color: blue
}
.green {
    color: green;
}
.red {
    color: red;
}
.big {
    font-size: 40px;
}
p {
    display: inline;
}
