<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src="{{ url_for('static', filename='js/ninjas.js') }}"></script>
    <title>Document</title>
    <style>
    </style>
</head>
<body>
    <div id=images></div>
    <div id="buttons">
        <button>red</button>
        <button>blue</button>
        <button>orange</button>
        <button>purple</button>
        <p>Or choose a custom color:</p>
        <input id="custom_color" type="text">
        <button>Enter</button>
    </div>
</body>
</html>