{% extends "users/layout.html" %}

{% block head %}
{{ block.super }}
{% endblock head %}
{% block title %}{{ block.super }} | Users{% endblock title %}

{% block content %}
    <h1>Users</h1>
    <table id="users">
        <thead>
            <tr>
                <th>id</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Created at</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.created_at }}</td>
                    <td>
                        <a href="{% url 'users:user' user.id %}">Show</a>
                        <a href="{% url 'users:edit' user.id %}">Edit</a>
                        <a href="{% url 'users:delete' user.id %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'users:new' %}">Add a new user</a>
{% endblock content %}
