<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Dojo</title>
    <link href="{{ url_for('static', filename='landing_page.css') }}" rel="stylesheet">
</head>
<body>
    <h1>New Dojo Form</h1>
    <form action="" method="post">
        New Location: <input type="text"><br>
        Startup Cost: <input type="text">
    </form>
</body>
</html>