<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninjas</title>
    <link href="{{ url_for('static', filename='landing_page.css') }}" rel="stylesheet">
</head>
<body>
    <h1>Ninjas</h1> 
    <ul>
        <li>Great at hiding</li>
        <li>Have fun at throw potentially lethal metal stars at people</li>
        <li>Get to wear goth colors and are not considered Goth!</li>
    </ul>
</body>
</html>