<!doctype html>
<html>
<head>
    <title>Register</title>
    {% load static %}
    <link href="{% static 'log_reg_app/css/style.css' %}" rel="stylesheet">
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    <a href="/login">LOGIN</a>
    <form action="/" method="post">
        {% csrf_token %}
        <ul>
            <li>
                <label for="email">Email</label>
                <input type="text" name="email" value="{{ old_form.email }}">
            </li>
            <li>
                <label for="first_name">First Name:</label>
                <input type="text" name="first_name" value="{{ old_form.first_name }}">
            </li>
            <li>
                <label for="last_name">Last Name:</label>
                <input type="text" name="last_name" value="{{ old_form.last_name }}">
            </li>
            <li>
                <label for="birthdate">Birthdate (YYYY-MM-DD):</label>
                <input type="text" name="birthdate" value="{{ old_form.birthdate }}">
            </li>
            <li>
                <label for="password">Password:</label>
                <input type="password" name="password">
            </li>
            <li>
                <label for="confirm_password">Confirm Password</label>
                <input type="password" name="confirm_password">
            </li>
            <input type="submit" value="Submit">
        </ul>
    </form>
    {% if request.session.is_logged_in %}
        <a href="/https://www.youtube.com/watch?v=lt-udg9zQSE">Enter The Machine</a>
    {% endif %}
</body>
</html>
