{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Word Generator</title>
    <link rel="stylesheet" href="{% static 'css/rand_word_gen.css' %}">
</head>
<body>
    <p id="attempt">Random Word (attempt #{{ request.session.counter }})</p>
    <p id="rand_word">{{ random_word }}</p>
    <button><a href="/random_word">Generate</a></button>
</body>
</html>