{% extends "layout.html" %}

{% block head %}
{{ super() }}
{% endblock head %}
{% block title %}{{ super() }} | Create User{% endblock title %}

{% block content %}
    <h1>Add a new user</h1>
    <form action="/users/create" method="post">
        <ul>
            <li>
                <label for="first_name">First Name:</label>
                <input type="text" name="first_name">
            </li>
            <li>
                <label for="last_name">Last Name:</label>
                <input type="text" name="last_name">
            </li>
            <li>
                <label for="email">Email:</label>
                <input type="text" name="email">
            </li>
            <input type="submit" value="Create"> 
            <a href="/users">Go Back</a>
        </ul>
    </form>
{% endblock content %}
