{% extends "layout.html" %}

{% block head %}
{{ super() }}
{% endblock head %}
{% block title %}{{ super() }} | Users{% endblock title %}

{% block content %}
    <h1>Users</h1>
    <table id="users">
        <thead>
            <tr>
                <th>id</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Created at</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.created_at }}</td>
                    <td>
                        <a href="/users/{{ user.id }}">Show</a>
                        <a href="/users/{{ user.id }}/edit">Edit</a>
                        <a href="/users/{{ user.id }}/delete">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/users/new">Add a new user</a>
{% endblock content %}
