* {
    margin: 0;
    padding: 0;
}
#title_bar {
    background-color: #f8f8f8;
}
#title_bar * {
    display: inline-block;
}
#title_bar h2 {
    margin-left: 300px;
}
#title_bar h1 {
    margin-left: 30px;
}
#wrapper {
    background-color: #6f5864;
    padding-left: 20px;
}
#margin_ {
    margin: 20px 20px 0 0;
}
.section {
    background-color: #eee7ed;
    display: inline-block;
}
.section h2 {
    background-color: #888593;
}
#aboutme {
    height: 245px;
}
#aboutme img {
    border: solid 5px #c0c0c0;
    width: 42%;
}
#aboutme div {
    width: 51%;
    vertical-align: top;
    height: 100%;
}