{% extends "layout.html" %}

{% block title %}{{ super() }}{{ session['first_name'] }}'s Wall{% endblock %}
{% block head %}
    {{ super() }}
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src="{{ url_for('static', filename='js/the_wall.js') }}"></script>
{% endblock %}

{% block content %}
    <div id="posting">
        <h2>Post a message</h2>
        <textarea name="message" id="message" cols="100" rows="5"></textarea>
        <button>Post a message</button>
    </div>
    <div id="messages_box">
        {% if messages %}
            {% for message in messages %}
                <div class="message_wrapper">
                    <div class="message_block">
                        <h3 class="message_info">
                            {{ message['message_info'] }}
                        </h3>
                        <p class="message">{{ message['message_content'] }}</p>
                    </div>
                    <div class="comments_wrapper" id="{{ message['message_id'] }}">
                        {% for comment in message['comment_list'] %}
                            <div class="comment_block">
                                <h4 class="comment_info">
                                    {{ comment['comment_info'] }}
                                </h4>
                                <p class="comment">{{ comment['comment_content'] }}</p>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="commenting">
                        <h3>Post a comment</h2>
                        <textarea name="comment" cols="100" rows="1"></textarea>
                        <button message-id="{{ message['message_id'] }}">Post a comment</button>
                    </div> 
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}