
#wrapper {
    background-color: #1c335d;
    height: 1000px;
    padding: 5px;
}
#title {
    margin: 8px;
    padding: 25px 20px;
    color: #c2d7ec;
    background-color: #ce3035;
    border-radius: 15px;
}
nav {
    margin: 8px;
    padding: 20px;
    background-color: #2a7d8c;
    display: inline-block;
    color: #c2d7ec;
    border-radius: 15px;
}
nav a {
    color: #64d5d8;
}
nav > a {
    /* text-decoration: none; */
}
ul {
    margin: 0;
}
