
#wrapper {
    background-color: #1c335d;
    /* height: 1000px; */
    padding: 5px;
}
#title {
    margin: 8px;
    padding: 25px 20px;
    color: #c2d7ec;
    background-color: #ce3035;
    border-radius: 15px;
}
nav {
    margin: 16px 8px;
    padding: 20px;
    background-color: #2a7d8c;
    display: inline-block;
    width: 19%;
    color: #c2d7ec;
    border-radius: 15px;
}
nav a {
    color: #64d5d8;
}
ul {
    margin: 0;
}
#content {
    margin: 16px 6px;
    display: inline-block;
    color: #bed7ec;
    background-color: #0e1822;
    width: 71%;
    vertical-align: top;
    border-radius: 15px;
    padding: 20px;
}
#content a {
    color: #65d5dc;
}
#content li{
    margin-top: 10px;
}
.purple {
    color: #6f79f1;
}
#more_info {
    background-color: #5d6572;
    padding: 20px;
    border-radius: 15px;
    color: #b2d2e6;
    margin-bottom: 5px;
    margin-top: 10px;
}
#more_info a {
    color: #65d5dc; 
}